$whiteColor: rgb(255, 255, 255);
$blackColor: rgb(0, 0, 0);
$cyanColor: rgb(27, 108, 167);
$blueColor: rgb(68, 43, 219);
$purpleColor: rgb(79, 42, 195);
$cherryColor: rgb(137, 34, 59);
$mustardColor: rgb(156, 121, 29);
$pinkColor: rgb(206, 75, 162);